<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Employee Monitoring Using Face Recognition</title>

    <!-- Links -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/colors/blue.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="../assets/plugins/DataTables/datatables.min.css">
</head>

<body class="fix-header fix-sidebar card-no-border" ng-app="mainApp">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/dashboard">
                        <span>
                            <!-- <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
                            <h2 id="brand-title"> <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />Employee
                                Monitoring - Portal</h2>
                        </span>
                    </a>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="#!/dashboard" aria-expanded="false"><img src="../assets/images/icons8-speed-23.png"
                                    alt=""><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#!/station" aria-expanded="false"><img src="../assets/images/icons8-server-23.png"
                                    alt=""><span class="hide-menu">Station</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#!/profile" aria-expanded="false"><img src="../assets/images/icons8-customer-23.png"
                                    alt=""><span class="hide-menu">Profile</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><img src="../assets/images/icons8-source-code-23.png"
                                    alt=""><span class="hide-menu">Developers</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <ng-view></ng-view>
            </div>
        </div>
        <footer class="footer"> © 2019 Developed <a href="">Group 1</a></footer>
    </div>


    <!-- Static Library -->
    <script src="../js/lib/angular.min.js"></script>
    <script src="../js/lib/angular-route.min.js"></script>
    <script src="../js/app.js"></script>

    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/DataTables/datatables.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/custom/jquery.slimscroll.js"></script>
    <script src="../js/custom/sidebarmenu.js"></script>
    <script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../js/custom/custom.js"></script>
    <script src="../assets/plugins/sweet-alert/sweetalert.min.js"></script>
    
    <!-- PDF -->
    <script src="../js/lib/jspdf.min.js"></script>
    <script src="../js/lib/jspdf.plugin.autotable.min.js"></script>

    <!-- Controller  -->
    <script src="../js/component/dashboard/DashboardController.js"></script>
    <script src="../js/component/station/StationController.js"></script>
    <script src="../js/component/profile/ProfileController.js"></script>
    <script src="../js/component/station-data/StationDataController.js"></script>
    <script src="../js/component/station-data-central/StationDataCentralController.js"></script>
    <script src="../js/component/station-data-logout/StationDataLogoutController.js"></script>
    <script src="../js/component/station-data-login/StationDataLoginController.js"></script>


    <!-- Service -->
    <script src="../js/service/EmployeeCareerProfileService.js"></script>
    <script src="../js/service/EmployeeLoginService.js"></script>
    <script src="../js/service/StationService.js"></script>



</body>

</html>