<section ng-controller="StationDataLogoutController" id="dashboard-main-section">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Station {{station.station}}</h3>
        </div>
    </div>
    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Logout Table</h4>
                    <div class="table-responsive">
                        <table class="table" id="data-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Position</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="empCareer in employeeCareer">
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{empCareer.employee.firstname}}</td>
                                    <td>{{empCareer.employee.lastname}}</td>
                                    <td>{{empCareer.department}}</td>
                                    <td>{{empCareer.position}}</td>
                                    <td><button class="btn btn-primary">Update</button> |
                                        <button class="btn btn-primary">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>