<section ng-controller="LoginController" id="login-main-section">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div id="upper-content">
                    <div id="upper-content-wrapper">
                        <center>
                            <div id="icon-image"></div>
                            <div class="div">
                                <h1>Employee Monitoring</h1>
                                <h4>with</h4>
                                <h2>Face Recognition</h2>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div id="card-box">
                    <div class="container">
                        <center>
                            <h4>Sign in</h4>
                        </center>
                        <label for="#username">Username</label>
                        <input type="text" class="form-control" id="username">
                        <label for="#pass">Password</label>
                        <input type="password" class="form-control" id="pass">
                        <center>
                            <a href="" data-toggle="modal" data-target="#exampleModalCenter">Sign up?</a>
                        </center>
                        <button class="btn btn-primary" ng-click="loginButton()">Login</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="form-create">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <label for="#firstname">Firstname</label>
                        <input type="text" class="form-control" id="firstname">
                        <label for="#lastname">Lastname</label>
                        <input type="text" class="form-control" id="lastname">
                        <label for="#email">Email</label>
                        <input type="text" class="form-control" id="email">
                        <label for="#username">Username</label>
                        <input type="test" class="form-control" id="username">
                        <label for="#password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>