<section id="developer-main-section">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Developer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"> <img src="../assets/images/users/1.jpg" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">Christian C. Pelayo</h4>
                        <h6 class="card-subtitle">Software Developer | Hardware Developer</h6>
                        <div class="row text-center justify-content-md-center">
                            <h6>Lorem, ipsum dolor.</h6>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"> <img src="../assets/images/users/1.jpg" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">Kirby Bonghanoy</h4>
                        <h6 class="card-subtitle">Hardware Developer | Budjet Adviser</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="row text-center justify-content-md-center">
                                <h6>Lorem, ipsum dolor.</h6>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"> <img src="../assets/images/users/1.jpg" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">Johnny Caballes</h4>
                        <h6 class="card-subtitle">Hardware Developer | Documentation</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="row text-center justify-content-md-center">
                                <h6>Lorem, ipsum dolor.</h6>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>