<section ng-controller="DashboardController" id="dashboard-main-section">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 100px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 100px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 100px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>